/*
    Design by Free CSS Templates
    http://www.freecsstemplates.org
    Released for free under a Creative Commons Attribution 2.5 License
*/

/*Modifié par Pierre Rudloff (http://rudloff.pro) en mai 2012 puis en octobre 2012*/

/* Basic */
.clearfix:before,
.clearfix:after {
  content:"";
  display:table;
}
.clearfix:after {
  clear:both;
}
.clearfix {
  zoom:1; /* For IE 6/7 (trigger hasLayout) */
}
* { 
	margin:0; 
	padding:0; 
}
body {
	background-position: center center;
	background-repeat: no-repeat; 
	background-attachment: fixed; 
	background-size: cover; 
	-moz-background-size: 100% 100%;     /* Gecko 1.9.2 (Firefox 3.6) */
	-o-background-size: 100% 100%;        /* Opera 9.5 */
	-webkit-background-size: 100% 100%;   /* Safari 3.0 */
	background-size: 100% 100%;           /* Gecko 2.0 (Firefox 4.0) > CSS3 */ 
	background-image: url("../images/Advisa/fond.jpg");
}

h1 {
	margin: 0;
	padding: 0;
	font-size: 1.6em;
	font-weight: normal;
	color: #EEE;
	margin-top: 1em;
	margin-bottom: 1em;
	border-bottom: thin solid #EEE;
	clear:right;
}

h4,h5,h6 {
	margin: 0;
	padding: 0;
	color: #444;
}

h3 {
	padding: 0;
	color: #EEE;
	display: inline;
}

h3 a img {
	vertical-align: baseline;
}

h2 {
	font-size: 1.25em;
	color: #EEE;
	border-bottom: thin solid white;
	margin-top: 1em;
	padding-bottom: 0.5em;
}

table td,table {
	border: none;
	border-spacing: 0;
}

.primaryContent,.secondaryContent,body,.menu ul {
	margin: 0;
	padding: 0;
}

body,input {
	font-family: tahoma, sans-serif;
	font-size: 10pt;
	color: #111;
}

input.button {
	padding: 0.35em;
	border-top: solid 1px #fff;
	border-right: solid 1px #888;
	border-bottom: solid 1px #888;
	border-left: solid 1px #fff;
	font-size: 0.8em;
	color: #555;
	background-color: #eaeaea;
}

input.text {
	margin-top: 0.25em;
	margin-bottom: 0.5em;
	padding: 0.1em;
	border-top: solid 1px #888;
	border-right: solid 1px #fff;
	border-bottom: solid 1px #fff;
	border-left: solid 1px #888;
}

a {
	text-decoration: none;
	color: #006699;
}

a:hover {
	text-decoration: none;
	color: #2288BB;
}

.outer {
	width: 100%;
	margin: 0 auto 0 auto;
	position: relative;
    z-index: 10;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

/* Header */
#header {
	height: 120px;
	width: 1200px;
	margin: auto;
	background-color: rgba(46, 56, 60 , 0.6);
}

#header .title {
	font-size: 1.2em;
	color: #EEE;
}

#header img {
}

#header .homeTitle {
	margin-top: 3em;
}

#header .h2 {
	display: inline;
	padding-left: 0.5em;
	font-size: 0.8em;
	font-weight: normal;
	color: #949494;
}

#header .h1 {
	font-size: 1.9em;
	letter-spacing: -0.05em;
	color: #EEE;
	border-bottom: none;
}

#header .h1 a {
	text-decoration: none;
	color: #343434;
}
#header .menu-button-div{
	//width: 120px;
	//height: 120px;
	text-align: center;
	color: white;
	vertical-align: top;
	float: left;
}


#logoConnexion img{
	height: 29px;
	width: 29px;
}

.stats , #searchButton , #connexionButton{
	margin-top: 20px;
	float: left;
}
#searchButton , #connexionButton{
	text-align: center;
	cursor: pointer;
}
.languageSwitch{
	margin-top: 10px;
}

.languageSwitch li{
	display: inline-block;
	list-style: none;
	color: #FE802C;
}

.languageSwitch li , .languageSwitch li a{
	color: #FE802C;
}

.languageSwitch li a{
	padding-left: 5px;
	padding-right: 5px;
	
}



.left-buttons-header{
	vertical-align: bottom;
	background-color: transparent;
}

.left-buttons-header div.label-menu-buttons-left {
	font-size: 14px;	
}

.left-buttons-header img{
	vertical-align: bottom;
}


.stats{
	margin-right: 20px;
/* 	height: 100px; */
/* 	line-height:100px; */
}
.stats-wrap{
	//display: table;
	height: 100px;
	//width: 150px;	
}
.stats a{
	display: table-cell;
	vertical-align: middle; 	
	color: white;
}


.push-menu-top-search{
	height: 130px;
	width: 1200px;
	margin: auto;
	background-color: #2A3335;
}

.push-menu-top-connexion{
	height: 130px;
	width: 1200px;
	margin: auto;
	background-color: #2A3335;
	color: white;
}

#archiLogin,#archiMdp , .authFormSubmit{
	border-radius: 4px;
	border: none;
	height: 26px;
	width: 130px;
	margin-right: 20px;
}
.authFormSubmit{
	background-color: #FC802C;
	color: white;
	margin-right: 0px;
}
.stayConnectedWrapper{
	width: 100%;
	margin-top: 20px;
}
.stayConnected{
	float: right;
}

.authLinkOneClass{
	margin-top: 20px;
	margin-right: 30px;
	
}

.authLinkOneClass,.authLinkTwoClass{
	color: #C1722E;
}

a.forgetPasswordLabel{
	color: #5A6064;
}

a.subscribeLabel{
	color: #C1722E;
}

.connectedAuthLink{
	margin-top: 20px;
}

.push-menu-top-search,.push-menu-top-connexion{
	width: 1200px;
	margin: auto;
	background-color: #2A3335;
}

.formConnexion{
	width: 800px;
	margin: auto;
	vertical-align: middle;
}
.formConnexion form{
	display: table;
}
.authFormInput{
	display: table-cell;
}
.formConnexion form,.formConnexion hr , .notConnectedAuthLink{
	width: 615px;
	margin: 0 auto;
}


.formConnexion , .fastConnect{

}
.classicConnexion{

}
.fastConnect{
	width: 100px;
	float: left;	
	margin-left: 20px;
	margin-top: 20px;
}
.fastConnect > div:first-child{
	width: 125px;
}

/* Menu */
/* Old menu in the content */
.menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border-bottom: solid 1px #587885;
	background-color: #262E31;
}

.menu .wrapper {
	margin: auto;
	width: 1000px;
}

.menu ul {
	padding: 1em 1em 1em 0;
	list-style: none;
}

.menu .nopadding {
	padding: 0;
}

.menu li {
	display: inline;
	padding-right: 1em;
	font-size: 0.8em;
}

.menu li a {
	color: #E06A00;
	background-color: inherit;
}

.menu li a:hover {
	color: #EEE;
	/*border-bottom: solid 1px #558800;*/
}

.menu input {
	border-radius: 20px;
	border-width: thin;
}

.loginForm .nopadding {
	margin-top: 0.5em;
	padding-top: 0.5em;
	margin-bottom: 0.3em;
	border-top: thin solid #686C6D;
}



/* Related to menu push back */
.mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

/*
	Generic menu classes
*/

nav.menu-new{
/*     position: fixed; */
    background-color: #2A3335;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;	
/*     left:s -300px; */
}

nav.menu-new ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav.menu-new a{
    font-weight: 300;
    color: #fff;	
}

/*
	Push left menu classes 
	Hacked from http://callmenick.com/2014/03/26/slide-and-push-menus-with-css3-transitions/
	Modification from example : Menu pop in a container, and push container's content
	Displaying now work 
*/

nav.push-menu-left {
    top: 0;
    height: 100%;
	vertical-align: top;
}
nav.push-menu-left li {
    display: block;
    border-bottom: solid 1px black;
    border-top: solid 1px black;
    padding-left: 10px;
}
nav.push-menu-left li:hover{
	background-color: #4E5F66;
}
nav.push-menu-left li:first-child {
    border-top: none
}
nav.push-menu-left li:last-child {
    border-bottom: none
}
nav.push-menu-left a {
    display: block;
    padding: 10px;
    font-size: 14px;
}
nav.push-menu-left button.close-menu {
    margin: 10px 0;
    padding: 10px 30px;
    background-color: #3184a1;
    color: #fff;
}
nav.push-menu-left {
	display: none;
}
body.pml-open nav.push-menu-left {
	display: block;
	width: 220px;
	width: 200px;
	position: absolute;
	top: 120px;
	height: 100%;
	z-index: 20;
	
}
body.pml-open #primaryContentContainer {
	display: inline-block;
    left: 200px;
}

body .primaryContent{
	max-width: 930px;
}

/* Content */

.box {
	margin-bottom: 1.25em;
}

.boxContent {
	margin-top: 0.5em;
	padding: 0;
}

/** boxA **/
.boxA .boxContent {
	margin-top: 0;
	color: #fff;
}

.boxA span {
	font-size: 0.8em;
	font-weight: bold;
}

.boxA a {
	font-size: 0.8em;
	color: #fff;
	background-color: inherit;
}

.boxA a:hover {
	border-bottom: solid 1px #ff9900;
	text-decoration: none;
}

.boxA input.button {
	margin-top: 0.25em;
	vertical-align: middle;
}

.box .searchInput {
	max-width: 130px;
	/*margin-left:10px;*/
}

.boxA input.text {
	width: 90%;
}

/** boxB **/
.boxB .boxContent {
	margin-top: 0;
	padding: 1em 1.5em 1em 1em;
	border-bottom: solid 1px #004466;
	color: #fff;
	background: #007799;
}

.boxB span {
	font-size: 0.8em;
	font-weight: bold;
}

.boxB a {
	font-size: 0.8em;
	color: #fff;
	background-color: inherit;
}

.dernierscomm,.boxB a:hover {
	text-decoration: underline;
}

.dernierscomm {
	color: rgb(0, 119, 153);
}

.boxB input.button {
	margin-top: 0.25em;
	vertical-align: middle;
}

.boxB input.text {
	width: 100%;
}

img.box{
	border: none;
	
}

/** Content **/
.content{
	width: 1200px;
	margin: auto;
}

.content p {
	margin-bottom: 1em;
	text-align: justify;
	line-height: 1.5em;
}

.content a,.content b,.content strong {
	color: #EEE;
}

.content a:hover {
	color: #111;
}

.content ul {
	margin-bottom: 1em;
	padding-left: 1em;
	line-height: 1.8em;
}

.primaryContent ul {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	list-style-position: inside;
}

.primaryContent ul li ul {
	margin-top: 0.5em;
	padding-left: 2em;
}

.content blockquote {
	margin-bottom: 1.5em;
	padding: 1em;
	border-left: solid 6px #558800;
}

.content blockquote p {
	margin-bottom: 0;
	line-height: 1.5em;
}

.content table {
	margin-bottom: 1.5em;
	width: 100%;
}

.content table th {
	padding: 0.5em;
	text-align: left;
	font-weight: bold;
	color: #444;
}
/*
.content table td {
    padding: 0.5em;
    padding-bottom: 0;
}
*/
.content table .rowA {
	color: inherit;
	background-color: #efefef;
}

.content table .rowB {
	color: inherit;
	background-color: #fafafa;
}

/* Primary Content */
#primaryContentContainer {
	margin: auto;
}

.primaryContent {
/* 	margin: 0 0 0 200px; */
/* 	margin-right: 25px; */
/* 	padding: 0 0 0 5px; */
/* 	margin-left: 220px; */
}

.primaryContent h2 {
    clear:right;
}

/* Secondary Content */

/* menu de gauche */
.secondaryContent {
	float: left;
	margin-right: 15px;
	/*padding: 2.5em 2.5em 1.5em 2.5em;*/
	/*max-width: 130px;*/
}

/* Footer */
.footer {
	z-index: 9;
	bottom: 0;
	padding-top: 0.4em;
	padding-left: 1em;
	border-top: solid 1px #EEE;
	text-align: center;
	/*background-color: white;*/
	clear: both;
}

.footer a {
	color: #111;
}

.footer a:hover {
	color: #EEE;
}

.clear {
	clear: both;
}

/* personnalisés */
.center {
	text-align: center;
}

/********************************************************/

/* ajout laurent                                         */

/********************************************************/

/* TD Entete de la popup */
.tdEntetePopup {
	padding: 0.5em;
}

.texteEntetePopup {
	float: left;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}

.boutonFermerPopup {
	text-align: right;
}

/* Entetes du tableau de liaison d'adresses */
.enteteAdresses {
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #006699;
}

/* Entetes du tableau de la page d'inscription d'utilisateur */
.enteteInscription {
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #006699;
}

.borduresInscription {
	border-top: 1px solid #000000;
	border-right: 1px solid #000000;
}

.bordureFinInscription {
	border-bottom: 1px solid #000000;
}

/* Entetes du tableau d'authentification */
.enteteAuthentificationNoCompact {
	font-size: 12px;
	color: #FFFFFF;
	/*background-color: #006699;*/
}

.enteteAuthentificationCompact {
	border: none;
	font-size: 12px;
	color: #FFFFFF;
}

.borduresAuthentification {
	border-top: 1px solid #000000;
	border-right: 1px solid #000000;
}

.borduresFinAuthentification {
	border-bottom: 1px solid #000000;
}

.authentification,.authentification tbody,.authentification tr,.authentification td
	{
	padding: 1px;
	border: none;
}

/* entetes tableau ajout d'un dossier */
.enteteFormulaireDossier {
	font-size: 12px;
	color: #FFFFFF;
	background-color: #006699;
}

.enteteFormulaireDossierTypeEvenement {
	font-size: 12px;
	color: #FFFFFF;
	background-color: #668899;
}

.listeCourantsArchitecturaux,.choixFormulaireTypeEvenement {
	font-size: 12px;
	color: #000000;
}

/* entetes tableau modification des infos d'une image */
.enteteFormulaireMajPhoto {
	font-size: 12px;
	color: #FFFFFF;
	background-color: #006699;
}

/* tableau recapitulatif des adresses de l'evenement */
/*
.tableauResumeAdresse {
    border: 2px solid rgb(102,102,102);
}
* */

/* tableau entourant le descritif de l'evenement */
.tableauDescriptifEvenement {
	padding-top: 0;
	padding-bottom: 0;
	border: 2px solid rgb(102, 102, 102);
}

.textePetit {
	font-size: 11px;
}

/* styles sur le detail d'une photo , liens vers les différents formats */
.formatAffichePhotoSelected {
	font-weight: bold;
	color: #FF0000;
}

.formatAffichePhoto {
	color: #007799;
}

/*style du titre d'evenement qui s'affiche sur l'affichage d'adresse , ex sur detail d'une image vue sur ou prise depuis*/
.textePrisDepuisVueSur {
	font-size: 14px;
}

.textePrisDepuisVueSurEntete {
	font-weight: bold;
}

.divConsultationHistoriqueEvenement {
	margin-bottom: 10px;
	padding-left: 5px;
	border-right: 0;
	border-bottom: 0;
}

.inline-block {
	display: inline-block;
}

img {
	border: thin solid transparent;
}
/*
.boxContent {
    min-width: 200px;
}
*/
.boxContent ul {
	padding: 0;
}

.center {
	text-align: center;
}

.clear {
	clear: both;
}

.homeTable td {
	width: 49%;
	vertical-align: top;
}
/*
.results,.results td {
	width: 100%;
}
*/
.listAddressItem td {
	display: block;
	min-height: 150px;
	width: 100%;
}

.menu .flag {
	font-size: 12px;
}

.puce {
	line-height: 1em;
	vertical-align: middle;
	list-style-image: url("images/puce.png");
}

.adminMenu {
	font-size: larger;
	list-style-position: inside;
}

.adminMenu li {
	margin-bottom: 1em;
}

.inside {
	list-style-position: inside;
}

.square {
	list-style-type: square;
}

.loginForm {
	padding-right: 1em;
	line-height: 11px;
	color: white;
}

.loginForm.connected {
	float: right;
}

.loginForm .imgBtn {
	vertical-align: top;
}

.userMenu {
	display: block;
	margin: 0;
	padding: 15px 5px 15px 5px;
	overflow: visible;
	list-style-type: none;
}

.userMenu li {
	line-height: 1.2em;
}

.h1 {
	font-size: x-large;
	font-weight: bold;
}


.subbox.paypal{
	width: 100%;	
}

.box {
	width: 240px;
}

.center {
	text-align: center;
}

.subbox {
	width: 170px;
}

.actionEvent {
//	padding-left: 1em;
	/*background-color: #E1E1E1;*/
	//border-bottom: thin solid #BBB;
	color: black;
	margin-bottom: 5px;
	font-weight: bold;
}

.onglet {
	border: thin solid #333;
	text-align: center;
}

.desc {
	text-align: justify;
}

.nopadding {
	padding: 0;
}

.commentHeader {
	border-bottom: thin solid #BBB;
	font-size: 12px;
/*	color: #FFFFFF;*/
}

.commentWrapper {
	background-color: #99ACB0;
	width: 100%;
	border-radius: 5px;
	margin-bottom: 1em;
	display: block;
}

.commentHeader,.comment {
	padding: 0.5em;
}


.calque,.calqueVille,.calquePersonne,.calqueRue,.calqueDate,.calqueSource
	{
	z-index: 10;
	border-radius: 5px;
	background-color: #829395;
	border: thin solid #BBBBBB;
}

.right {
	float: right;
}

.left {
	float: left;
}

.footer nav li {
	display: inline;
	list-style-type: none;
}

.footer nav li:after {
	content: " |";
	color: #EEE;
}

.footer nav li:last-child:after {
	content: "";
}

.footer .left {
	padding-top: 0.2em;
}

.footer .left img {
	margin-left: 0.5em;
}

.footer .fb_ltr,.footer .twitter-follow-button {
	vertical-align: top;
}

.primaryContent .h1 {
	margin-bottom: 0.5em;
}

.large,.evenement {
	//width: 100%;
}

.barredons {
	float: right;
	margin-top: 2em;
	margin-right:25px;
	clear: both;
}

.barredons a {
	color: black;
}

.barredons a:hover {
	color: white;
}

.barredons .percent {
	position: absolute;
	right: 2.4em;
	color: #222;
}

.progressbar {
	display: inline-block;
	width: 6em;
	vertical-align: bottom;
}

.barredons .euros {
	padding-left: 2em;
}

.licence {
	padding: 0.5em;
	max-width: 50%;
	min-height: 35px;
	border: thin solid #BBB;
	background-color: #99ACB0;
	border-radius: 5px;
}

.licence img {
	vertical-align: middle;
}

.personHeader {
	padding: 1em;
}

.linkedEvents img {
	vertical-align: middle;
}

.linkedEvents {
	margin-bottom: 0.2em;
	list-style-type: square;
}

.menu input:focus,.searchInput:focus {
	outline: none;
	border-color: #111;
}

.searchInput {
	border-radius: 20px;
	background-color: #5D686A;
	color: #EEE;
	border-color: #465052;
	padding: 0.2em;
	padding-left: 1em;
	padding-right: 1em;
	border-width: thin;
}

.searchInput:-webkit-placeholder {
	color: darkgray;
}

.searchInput:-moz-placeholder {
	color: darkgray;
}

.loupe {
	vertical-align: bottom;
	color: white;
	background-color: #FC802C;
	border-radius: 10px;
	border: none;
	width: 40px;
	height: 30px;
	cursor: pointer;
}

.paypal,.boxContent li {
	/*background-image:url(../images/Advisa/btn_gauche.png);*/
	background-repeat: no-repeat;
	list-style-type: none;
	height: 27px;
	margin-top: 0.5em;
	background-color: #829395;
	border-radius: 5px;
}

.paypal a,.boxContent li a {
	color: #EEE;
	display: block;
	padding: 0.1em;
	padding-left: 2em;
}

.paypal a:hover,.boxContent li a:hover {
	color: #111;
}

.paypal {
	/*background-image:url(../images/Advisa/btn_don.png);*/
	/*margin-left:2em;*/
	background-color: #2A3335;
}

.paypal a {
	padding-top: 0.3em;
}

.reseauSocial {
	margin-top: 1em;
}

.social_widgets {
    clear:right;
}

/*
.reseauSocial,
.licenceLogo {
    margin-left:2em;
}
*/
.homeComment,.titreEncartCommentaire {
	width: 250px;
}
/*
.homeComment {
    margin-left:2em;
}
*/
.footEncartCommentaire,.titreEncartCommentaire {
	height: 27px;
	background-repeat: no-repeat;
	background-color: #829395;
	color: #FFF;
	text-align: center;
	padding-top: 10px;
}

.titreEncartCommentaire {
	/*background-image:url(../images/Advisa/comment_haut.png);*/
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	box-shadow: -1px 0 #6B7A7B, 1px -1px #C1C9CA;
}

.footEncartCommentaire {
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	box-shadow: -1px 1px #6B7A7B, 1px 0 #C1C9CA;
}

.footEncartCommentaire a:hover {
	text-decoration: none;
}

.homeCommentLine {
	padding: 0.5em;
	font-size: 11px;
	color: #666;
}

.homeCommentLine:nth-child(even) {
	background-color: #E5E9EA;
}

.homeCommentLine:nth-child(odd) {
	background-color: white;
}

.content .homeCommentLineWrapper {
	margin: 0;
	padding: 0;
	width: 216px;
}

.bigFooter {
	background-color: white;
	padding: 2em;
	margin-bottom: 10em;
}

.bigFooter .right {
	margin-right: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	vertical-align: top;
}

.bigFooter .left,.bigFooter .right {
	width: 160px;
}

.bigFooter .left {
	border-right: thin solid #8FA3A4;
	padding-right: 3em;
}

.bigFooter .left img {
	margin: 1em;
	margin-right: 0;
}

.partners {
	margin: auto;
	text-align: center;
}

.partners img {
	margin: 0.5em;
}

.footer nav {
	margin: 2em;
}

.footer .networks {
	float: right;
	margin-right: 1em;
	margin-top: 0.5em;
	position: absolute;
	right: 0;
}

.pagination {
	background-image: url(../images/Advisa/abcd.png);
	background-repeat: no-repeat;
	background-position: center top;
	padding-top: 0.1em;
	border-bottom: thin dotted #EEE;
	padding-bottom: 2em;
}

.pagination a {
	color: #111;
}

.pagination a:hover {
	color: gray;
}
.results{
	width: 100%;
}
.results a {
	color: #111;
}

.results colgroup col{
	width: 100%;
}

.results a:hover {
	color: #EEE;
}

.seeAll,.bigger,.addEvent {
	color: #EEE;
	list-style-type: none;
	width: 246px;
	height: 28px;
	background-repeat: no-repeat;
	text-align: center;
	padding-top: 0.2em;
	display: block;
}

.addEvent {
	background-image: url(../images/Advisa/btn_ajouterevent.png);
}

.bigger {
	background-image: url(../images/Advisa/btn_voircarte.png);
	width: 180px;
	padding-top: 0.4em;
	text-align: left;
	padding-left: 1em;
}

.seeAll {
	background-image: url(../images/Advisa/btn_voirbatiments.png);
	font-size: smaller;
	padding-top: 0.4em;
	float: right;
}

.black {
	color: #111;
}

a.white,.white {
	color: #EEE;
}

a.white:hover {
	color: #111;
}

.event {
	padding: 0 10px;
	border-radius: 5px;
	width: 730px;
	float: left;
}

li:empty {
	display: none;
}

.formAjoutCommentaire textarea,.formAjoutCommentaire input {
	border-radius: 20px;
	padding: 0.2em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	border-width: thin;
}

.menuAction {
	/*
	background-color: #829395;
	border: thin solid #BBB;
	border-radius: 5px;
	*/
	float: right;
}
.menuAction > div{
	margin-bottom: 10px;
	padding: 5px;
	background-color: #797979;
}
.menuAction li {
	list-style-type: none;
}

.titreEncart {
	color: #111;
	margin-bottom: 1em;
	display: block;
}

.encart {
	border-bottom: thin solid #EEE;
	padding-bottom: 1em;
	margin-bottom: 2.5em;
}

.encart:last-child {
	border-bottom: none;
}

#header .infos {
	float: right;
	color: white;
	margin-top: 50px;
	margin-right: 3em;
	text-align: center;
}

#header .infos a {
	color: #EEE;
}

#header .infos a:hover {
	color: #111;
}



.pub {
	background-color: #A9BEC1;
	width: 500px;
	border-radius: 15px;
	padding: 1em;
	text-align: center;
	margin: auto;
}

.pub img {
	vertical-align: middle;
}

.listAddressItem {
	min-height: 150px;
	margin-top: 1em;
	border-bottom: thin dotted #EEE;
	display: block;
	font-size: 14px;
}

.listAddressItem b{
	color: black;
}
.listAddressItem b:hover{
	color: white;
}
.listAddressItem img {
	margin-right: 1em;
	vertical-align: top;
	margin-bottom: 1em;
	float: left;
}

.monProfil,.monArchi {
	background-color: #99ACB0;
	border-radius: 5px;
	min-width: 700px;
}

.boxVertArrondie{
	background-color: #99ACB0;
	border-radius: 5px;
	margin-bottom: 10px;	
}

.encart a img {
	border: thin solid black;
}

.encart .titreEncart a img {
	border: none;
}

.popupDiv table {
	background-color: #99ACB0;
	border-radius: 10px;
}

.encart .desc,.encart li {
	padding-left: 150px;
}

.encart .desc {
	margin-bottom: 0.5em;
}

.encart {
	font-size: 12px;
}

.encart .linkAll a {
	text-decoration: underline;
}

.encart .linkAll {
	padding-top: 0.5em;
}

.encart .date {
	color: #111;
}

/*
HR style
*/
hr.plain{
	 border: 0; 
	 height: 1px;
}

hr.edgeFade { 
	border: 0; 
	height: 1px; 
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.6), rgba(255,255,255,0));       
    background-image: -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.6), rgba(255,255,255,0));       
    background-image: -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.6), rgba(255,255,255,0));       
    background-image: -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.6), rgba(255,255,255,0));       
    background-image: linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.6), rgba(255,255,255,0));      
}

hr.classic{
	height: 2px; 
	color: #839D2D; 
	background-color: #839D2D; 
	width: 50%; 
	border: none;
}

.menu .home img {
	vertical-align: bottom;
}

.menu .leftpart {
	margin-top: 2em;
	float: left;
	min-width: 220px;
}

.menu .wrapper div {
	display: inline;
	display: inline-block;
}

.menu .browserid {
	margin-left: 2em;
	font-size: smaller;
}

.menu .browserid a {
	vertical-align: 20px;
	font-size: 11px;
}

.header2 {
	margin: auto;
}

#header,.menu,.outer {
	min-width: 1000px;
}

.breadcrumbs {
	margin-top: 1em;
}

.onglet {
	background-color: #829395;
}

.onglet.current {
	background-color: #99ACB0;
}

.pagination b {
	color: black;
}

#primaryContentContainer,.header2 {
/* 	width: 1200px; */
/* 	max-width: 98%; */
	vertical-align:top;
}

.calendar {
	width: 100%;
	height: 100%;
	background-color: #829395;
}

.OngletOff {
	background-color: rgb(180, 193, 205);
}

.OngletOn {
	background-color: #99ACB0;
}

.OngletOn,.OngletOff {
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.onglets {
	margin-left: 1em;
	margin-top: 1em;
	display: block;
}

.inline {
	display: inline;
}

.membership span[title] input,.membership span[title] label,.membership span[title]
	{
	cursor: help;
}

.info_amounts {
	white-space: pre-line;
}

.error {
	margin: auto;
	text-align: center;
	background-color: #ffdada;
	border: 1px solid #ff4242;
	width: 75%;
	padding: 5px 10px;
}

.prevPic img,.nextPic img,.current_picture {
	vertical-align: middle;
}

.fullscreenWrapper {
	cursor: -moz-zoom-in;
	cursor: -webkit-zoom-in;
	cursor: zoom-in;
	text-align: center;
	display: inline;
}

.fullscreenWrapper:-moz-full-screen .current_picture {
	max-width: 100%;
	max-height: 100%;
}

.fullscreenWrapper:-webkit-full-screen .current_picture {
	max-width: 100%;
	max-height: 100%;
}

.fullscreenWrapper:-webkit-full-screen {
	cursor: auto;
	margin: 0;
}

.fullscreenWrapper:-moz-full-screen {
	cursor: auto;
}

.fullscreenWrapper figcaption {
	display: inline;
}

.fullscreenDesc {
	display: none;
	color: white;
	background-color: rgb(25, 25, 25);
	background-color: rgba(25, 25, 25, 0.8);
	left: 0;
	right: 0;
	padding: 0.5em;
	position: fixed;
	bottom: 2em;
	line-height: normal;
	margin: auto;
	max-width: 640px;
	border-radius: 15px;
	border: thin solid #BBB;
}

.fullscreenDesc:empty {
	border: none;
	background-color: transparent;
}

.navImagesWrapper {
	margin: auto;
	text-align: center;
}

/*On force la taille du widget parece qu'il ne respecte pas les instructions*/
.fb_iframe_widget span,.fb_iframe_widget iframe {
	width: 190px;
}

.divImage {
	width: 500px;
	margin: auto;
}

.prevPic,.nextPic {
	position: relative;
	position: absolute;
	top: 50%;
}

.prevPic {
	left: -25px;
}

.nextPic {
	right: -25px;
}

.imgResultGrp {
	display: inline-block;
	height: 130px;
	margin: 2px;
	position: relative;
	width: 130px;
}

.imgResultHover {
	position: absolute;
	left: 0;
	//border-radius: 5px;
	background-color: #424647;
	text-align: center;
	width: 130px;
	height: 130px;
	overflow: hidden;
	padding: 0;
	color: white;
}

.imgResultHover p {
	min-width: 200px;
	margin-top: 0;
	line-height: normal;
}

.imgResultHover img {
	//border-radius: 5px;
	min-height: 130px;
	//max-width: 130px;
}

.imgResultGrp:hover .imgResultHover img {
	min-height: 80px;
	//max-width:auto;
}

.imgResultGrp:hover .imgResultHover {
	width: auto;
	height: auto;
	padding: 5px;
	left: -45px;
	top: -20px;
	z-index: 20;
	opacity: 1;
	//border: 2px solid black;
	border: thin solid black;
}

.secondaryContent .switchSearch {
	display: none;
}

.homeSearch {
	margin: auto;
	width: 500px;
}

.gallery {
	display: table;
	position: relative;
}

.compteur_block {
	float: right;
	clear: right;
	position: relative;
	padding: 0.1em;
}

.error_block {
	background: url('images/failure.png') no-repeat scroll 10px center #FFDADA;
	margin: auto;
	text-align: center;
	background-color: #ffdada;
	border: 1px solid #ff4242;
	width: 75%;
	padding: 5px 10px;
}

.error_message {
	margin-left: 20px;
	margin-bottom: 0px !important;
	}

.addInterest{
	margin-top: 20px;
}




.message-bloc {
	margin: auto;
	text-align: center;
	border: 1px solid #ff4242;
	width: 75%;
	padding: 5px 10px;
	margin-bottom: 20px;
	
}

/*WARNING MESSAGE*/
.message-text{
	margin-left: 30px;
	margin-bottom: 0px !important;
}

.error-message{
	background: url('images/failure.png') no-repeat scroll 10px center #FFDADA;
	background-color: #ffdada;
	border: 1px solid red; 
}

.warning-message{
	background: url('images/notice.png') no-repeat scroll 10px center #FFDADA;
	background-color: #ffffc3;
	border: 1px solid yellow; 
}

.confirmation-message{
	background: url('images/success.png') no-repeat scroll 10px center #FFDADA;
	background-color: #c3f2c3;
	border: 1px solid green; 
}

.warning-div{
	background: url('images/notice.png') no-repeat scroll 10px center;
}
.warning-div p{
	margin-left: 30px;
}
.actionsEvenement{
	width: 246px;
}
.sommaireEvenements{
	width: 600px;
}
.inline-div{
	display: inline-block;
}

.part_one, .part_two, .evenement{
	margin-bottom: 20px;
}

.listAdressesVoisines{
	margin-left: 100px;
}
.boutonsAutresBiens{
	width: 300px;
}

.ajouterFavoris{
	display: inline-block;
}


.menu-button{
	border: none;
//	height: 100%;
	width: 100px;
	font-size: 25px;
	color: white;
}

.menu-button-div , .toggle-push-left{
	background: none repeat scroll 0% 0% #FC802C;
}
#menu-button{
	height: 100%;
	width: 120px;
}
.logo-header span{
	display: block;
	float: left;
}

.menu-button-div,.logo_header{
		height: 120px;
}

.left-div-header{
	float: right;
	margin-right: 10px;
}
.menu-button-div,.logo_header{
	float: left;
}

.logo_header > a{
	height: 100px;
	margin-left: 20px;
	margin-top: 20px; 
}
.logo_header , .logo_header > a{
	width: 600px;
}

.logo_header{
	position:relative;
	height: 120px;
	
}
.logo_header > a{
	position: absolute;
	vertical-align:middle;
	width: 600px;
}

.text-lien-header{
	margin-left: 10px;
	font-size: 14px;
	text-decoration: none;
	color: white;
}

.text-lien-header > div:first-child{
	font-size: 18px;
}


/*
	PUB
*/
.emplacementPub{
	background-color: grey;	
}
.pubSecondaryContent{
	height: 240px;
	margin-top: 20px;
}
.pubPrimaryContent{
	height: 90px;
	margin-top: 20px;
}
.pubPrimaryOne{
	width: 728px;	
}
.pubPrimaryTwo{
	width: 120px;
}
.pubPrimaryOne,.pubPrimaryTwo{
	height: 90px;
}


body.pmt-open-search .push-menu-top-search,
body.pmt-open-connexion .push-menu-top-connexion{
	display: block;	
}

.push-menu-top-search,
.push-menu-top-connexion{
	display: none;
}

#logoMenu , 
body.pml-open #crossMenu, 
#logoSearch,
body.pmt-open-search #crossSearch, 
#logoConnexion , 
body.pmt-open-connexion #crossConnexion
{
	visibility: visible;
	display: initial;
}

#crossMenu , 
body.pml-open #logoMenu, 
body.pmt-open-search #logoSearch, 
#crossSearch,
body.pmt-open-connexion #logoConnexion ,
#crossConnexion

{
	visibility: hidden;
	display: none
}

.hidden{
	visibility: hidden;
	display: none;
}

.visible{
	visibility: visible;
	display: initial;
}



/*
Page d'accueil
*/
.lastModifsAccueil{
	width: 900px;
}

.lastModifsAccueil > h2{
	margin-bottom: 10px;
	margin-top: 0px;
}

.favorisAccueil{
	width: 900px;
	margin-bottom: 20px;
}

.commentairesAccueil{
	background-color: #869698;
	padding: 5px 10px;
	width:210px;
	border-radius: 2px;
	border: 0px solid;
	vertical-align: top;
}

.commentairesAccueil h2{
	margin-top: 0; 
	font-size: 16px;
	border-bottom: none;
}
.commentDate , .commentAuthor{
	/*
	color: white;	
	font-size: 13px;
	font-weight: bold;
	*/
}

.commentAdresse , .commentAdresse a{
/*
	color: #EC951E;
	font-size: 12px;
	font-weight: bold;
	*/ 
}
.commentBody{
	color:#2E3D40;
}
.commentBody a{
	color: #394549;
	font-size: 13px;
}

.newsContent{
	margin-top: 10px;
}
.newsAccueil{
	width: 650px;
	margin-bottom: 10px;
	padding-right: 10px;
}
.newsTitle{
	height: 30px;
}
.newsTitle a{
	float: right;
}
.newsTitle h2{
	margin: 0;
	border-bottom: none;
	float: left;
}
.singleComment{
	margin-top: 5px;
	margin-bottom: 10px;
	color: white;
}

.newsTitle h2 , .newsTitle a{
	display: inline-block;
}

.newsAccueil , .commentairesAccueil{
	display: inline-block;
}

.linkNews{
	vertical-align: top;
}
.linkNews , .textNews{
	float:left;
}
.textNews{
	margin-left: 10px;
	width: 490px;
}
.descriptionNews{
	height: 64px;	
}
.textNews > div:first-child,.textNews > div:last-child{
	height: 16px;
}

.readMore a{
	color: black !important;
	text-decoration: underline;	
}
.textNews > div{
	line-height: 16px;
	overflow: hidden;
	-o-text-overflow: ellipsis; /* pour Opera 9 */
  	text-overflow: ellipsis; /* pour le reste du monde */
  	word-space: nowarp;
}

.titreNews a{ 
	color: #273638;
	font-weight: bold;
	font-size: 15px;
}

.titreLastModif a , .newsTitle a{
	color: black;
}


.descriptionNews{
	color: white;
	text-decoration: none;
}

.miniatureWrapper , .newsMiniature{
	position: relative;

}

.miniatureWrapper{
	width: 200px;
	height: 200px;
}

.newsMiniature{
	width: 150px;
	height: 150px;
}

.miniatureWrapper img{
	border: none;	
	width: 100%;
	height: 100%;
}

.miniatureWrapper a , .miniatureWrapper a:hover{
	color: white;
}

.miniature{
	position: absolute;
	top: 0;
	left: 0;
	border: none;
}
.miniatureLabel{
	position: absolute;
	bottom: 0px;
	right: 0;
	width: 100%;
}
.lastModifElement:hover .miniatureLabel{
	background-color: #2A3335;
}
.lastModifElement:hover .miniatureLabelLeft{
	display: block;
	visibility: visible;
}

.miniatureLabel .miniatureLabelLeft{
	float:left;
	display: none;
	visibility: hidden;
}
.miniatureLabel .miniatureLabelRight{
	float: right;	
	background-color: #2A3335;
}

.lastModifElement{
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
	margin-bottom: 20px; 
}

.textLastModif , .textLastVisit{
	width: 200px;
}

.favorisMiniatureWrapper , .favorisMiniature , .lastVisitElement >div:first-child {
	//position: absolute;
	width: 100px;
	height: 100px;
}
.lastVisitElement{
	height: 100px;
	float: left;
	margin-right: 10px;
}
.favorisTextWrapper , .textLastVisit{
	width: 190px;
	margin-left:10px;
	height: 100px;
	overflow-y:hidden;
}

.favorisTextWrapper , .favorisMiniatureWrapper {
	display: block;
	float: left;
	
}

.listeFavoris > div:first-child  , .lastVisitMessage{
	margin-top: 10px;
	margin-bottom: 10px;
}
.favorisElement{
	width: 300px;
	display:block;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
}

.lastVisitElement{
	margin-top: 10px;
	margin-bottom: 10px;	
}

.lastVisitElement >div:first-child , .textLastVisit{
	float: left;
}

.linkListCommentaire{
	text-decoration: underline;
}


.description, .descriptionNews,.commentBody{
	font-size: 12px;
}

.push-menu-top-search form{
	float:left;
//	margin-right: 10px;
	color: #BCBFBE;
}

.push-menu-top-search form{
	margin-top: 30px;	
}

.push-menu-top-search .switchSearch {
	height: 100px;
	line-height: 100px;
	float: left;
	margin-right: 10px;
	color: #BCBFBE;
}
.push-menu-top-search .switchSearch a,.push-menu-top-search .switchSearch a:hover {
		color: #BCBFBE;
}

.push-menu-top-search .searchInput{
	height: 30px;
	border-radius: 10px;
	border: none;
	background-color: white;
	color: #AAA;
	width: 500px;	
}

.rechercheBottomElements {
	margin-top: 10px;
	color: white;
}

.push-menu-top-search .rechercheBlock {
	margin: auto;
	width: 700px;
	
}

.rechercheBottomElements>span:nth-child(1) {
	float: left;
}

.push-menu-top-search .lienRechercheAvancee {
	float: right;
}

.lienRechercheAvancee {
	float: left;
	margin-left: 20px;
}


.lienRechercheAvancee,.lienRechercheAvancee:hover {
	color: #FC802C;	
}


.push-menu-top-search form #afficheResultatsSurCarte{
	color: white;
}


.customNewsFeed{
	float: right;
}

.customNewsFeed ,.customNewsFeed h2{
	border: none;
	border-radius: 3px;
	width: auto;
	padding: 5px;
}

.opendataLink{
	background-repeat: no-repeat;
    background-position: center left; 
}

.formAjoutCommentaireEvenement h1{
	font-size: 20px;
}

.interestList{
	margin-bottom: 30px;
}

.diff{
	width: 100%;
}
.diff div{
	width: 40%;
	float: left;
	border: 1px solid black;
	box-sizing: border-box;
	margin-right: 5%;
}
ins{
	background-color: #ccffcc;
}
del{
	background-color: #ffcccc;
}


.gallery > div {
	/*float: left;*/
	text-align: center;
	position: relative;
	padding-left: 5px;
	padding-bottom: 5px;
	width: 130px;
	/*height: 130px;*/
	clear: vertical;
	display: inline-block;
	vertical-align: top;
}

/*
.imgDesc {
	height: 17px;
	overflow: hidden
}
*/

.ellipsis {
  	overflow: hidden;
	max-height: 64px; 
	line-height: 16px;
}

.ellipsis:before {
	content:"";
	float: left;
	width: 5px; 
	max-height: 72px; 
}

.ellipsis > *:first-child {
	float: right;
	width: 100%;
	margin-left: -5px; 
}		

.ellipsis:after {
	content: "\02026";  
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	float: right; position: relative;
	top: -25px; left: 100%; 
	width: 3em; margin-left: -3em;
	padding-right: 5px;
	text-align: right;
}

.ellipsis:hover:after{
	color: black;
}


.adresseLastModif .lienAdresse,.adresseLastModif .lienVille,.titreLastvisit a,.adresseLastModif a{
	color: #363636;
}

.adresseLastModif .lienVille {
	font-size: 11px;
}

.formComment {
 	max-height: 0;
    transition: max-height 0.15s ease-out,background-color 0.15s ease-out;
    overflow: hidden;
}


.addCommentButtonWrapper {
	width: 210px;
}
.addCommentAdresseButtonWrapper{
	width: 320px;
}

.active .formComment{
	max-height: 500px;
    transition: max-height 0.25s ease-in , background-color 0.25s ease-in;
    background-color: #424647;
    padding: 14px 10px 10px 10px;
    margin-top: -4px;
}
.formComment form{
	//float:left;
	display: inline-block;
}
.formComment form textarea , .active .formComment form textarea{
	resize:both;
	max-width: 730px;
	height: 0;
}
.active .formComment form textarea{
	width: 630px;
	max-width: 640px;
	max-height: 500px;
}


.orangeButton{
	color: white;
	display: block;
	text-align: center;
	vertical-align: middle;
	background-color: #FC7F2C;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
}
.addCommentButtonWrapper{
	line-height: 40px;
}

.addCommentButtonWrapper a , .addCommentButtonWrapper a:hover{
	color: white;
	width: 100%;
}


.addCommentButtonWrapper a ,.formComment,.commentSubmitButton{
	border-radius: 3px;
}

.active .addCommentButtonWrapper a , .commentaire {
	background-color: #424647;
}
.addCommentButtonWrapper a:focus {
    outline: 0;
}

.profilePicWrapper{
	/*float:left;*/
	vertical-align: top;
	display: inline-block;
}
.profilePicWrapper img , .active .formComment form textarea{
	margin-right: 10px;
}
.commentSubmitButton{
	background-color:  #FC7F2C;
	vertical-align: top;
	border: none;
	color: white;
	width: 100px;
}
.commentSubmitButton , .addCommentButtonWrapper a{
	color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.commentSubmitButton , .addCommentButtonWrapper a ,.profilePicWrapper, .active .formComment form textarea,.commentFormWrapper img,.comment img{
	height: 40px;
}
.commentFormWrapper img , .profilePicWrapper img{
	border: none;	
}


/* Comment list */
.commentaire{
	margin-top: 5px;
}

.commentHeader div, .commentHeader .profilePicWrapper img,.commentHeader{
	height: 40px;
}

.commentHeader .profilePicWrapper , .commentHeader .commentNameAction{
	float: left;
}
.commentHeader .commentDate{
	float: right;
}
.commentNameAction p{
	margin: 0;
}

.commentDate p{
	background-color: #293234;
	padding-left: 5px;
	padding-right: 5px;
}
.commentaireEvenement{
	margin-bottom: 40px;
}


/*
Evenement block
*/
.evenement{
	 background-color: #424647;
	 color: white;
	 padding: 10px;
}

.eventPoster img{
	height: 20px;	
	vertical-align: bottom;
	margin-right: 10px;
}
.eventHeader div:first-child{
	float: left;
}
.eventHeader div:last-child{
	float: right;
}
.eventHeader div:last-child a{
	float: right;
}

.eventHeader div:last-child p{
	background-color: #2A3335;
	padding-left: 5px;
	padding-right: 5px;
}

.evenement a, .commentaire a , .formComment a {
	color: white;
}
.evenement,.commentaire ,.formComment{
	color: #b2b2b2;
}


/*
Opendata
*/

.opendata-table{
	font-size: 14px;
}